@mixin transition-ease{
    transition: all 0.3s ease-in-out;
}
header{
    display: flex;
    padding: 4rem 8rem;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (max-width:768px){
        padding: 2rem 4rem;
        background-color: #EFEFFF;
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    .logo{
        font-size: 24px;
        font-weight: 700;
        @media screen and (max-width:768px){
            position: fixed;
        }
        @media screen and (max-width:576px){
        left: 1rem;
        }
    }
    .menu{
        display: none;
        @media screen and (max-width:768px){
            cursor: pointer;
            display: block;
            position: fixed;
            top: 32px;
            right: 4rem;
            height: 20px;
            width: 28px;
             &__burger {
                position: absolute;
                right: 0;
                top: 0.5rem;
                @include transition-ease;

                &::before {
                content: '';
                position: absolute;
                right: 0;
                top: -18px;
                width: 28px;
                height: 2px;
                background: rgb(0, 0, 0);
                @include transition-ease;
                }
                &::after {
                    content: '';
                    right: 0;
                    position: absolute;
                    top: 0px;
                    width: 28px;
                    height: 2px;
                    background:rgb(0, 0, 0);
                    @include transition-ease;
                }
                &.open {
                    background: transparent;

                    &::before {
                        transform: rotate(45deg) translate(5px, 8px);
                        background: black;
                    }
                    &::after {
                        width: 28px;
                        background: black;
                        transform: rotate(-45deg) translate(4px, -7px);
                    }
                }
        }
        }
        @media screen and (max-width:576px){
        right: 2rem;
    }
    }
    .links{
        width: 250px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        a{
            text-decoration: none;
            color: black;
            transition: border-bottom 3s ease-in-out;
            display: flex;
            align-items: center;
            &::after{
                display:block;
                content: '';
                margin-top: .5rem;
                border-bottom: solid 2px #0F18FD;  
                transform: scaleX(0);  
                transition: transform 250ms ease-in-out;
              
            }
            &:hover{
                &::after{
                    transform: scaleX(1);
                }
            }
        }
        @media screen and (max-width:768px){
                opacity: 0;
                height:calc(100vh - 60px) ;
                width: 100vw;
                top: -100vh;
                left: 0px;
                position: fixed;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                background-color: #EFEFFF;
                transition: .6s all ease-in-out;
                z-index: 5;
               
            &.show{
                top: 60px;
                opacity: 1;
            }
            a{
            text-decoration: none;
            color: rgb(89, 89, 89);
            transition: border-bottom 3s ease-in-out;
            display: flex;
            align-items: center;
            margin: 2rem;
            font-size: 1.6rem;
            
        }
        }
    }
}