.cursor {
  width: 70px;
  height: 70px;
  background-color:#0011ff52;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: all 500ms ease-in-out;
  transition-property:  opacity, background-color, transform, mix-blend-mode;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    
    pointer-events: none;
    @media screen and (max-width:576px){
            display: none;
        }

}
.cursor--hidden {
   opacity: 0;
 }
 .cursor--clicked {
   transform: translate(-50%, -50%) scale(2.5);
   opacity: 0;
   background-color: #8d8d8d;
 }